.data-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  gap: 2rem;
}

.data-not-found img {
  height: 400px;
  width: 400px;
}

.data-not-found .title {
  font-size: 20px;
  font-weight: 600;
}
